#rootLayout {
  .link {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: var(--mantine-font-size-md);

    @media (max-width: 	767px) {
      height: 42px;
      width: 100%;
    }

    &:hover{
      background-color: var(--mantine-color-dimmed);
    }
  }
}